.single-city-container {
    padding: 20px;
}

.single-city-title {
    font-size: 22px;
    padding-bottom: 10px;
    font-weight: 700;
    font-family: 'Roboto',sans-serif;

}

.num_of_homes {
    color: #757575;
    font-size: 14px;
    font-family: 'Roboto',sans-serif;
}