.accordion-wrap {
    height: 250px;
}

.accordion {
    width: 100%;
    padding-top: 20px;
}

.card-header {
    background-color: #fff;
    box-shadow: none;
    border: none;
    border-top: 1px solid lightgray;
}

.accordion_card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    box-shadow: none;
}

.accordion_card:hover {
    box-shadow: none;
}

.accordion_card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.btn-link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: black;
}

.btn-link:hover {
    color: black;
}
.btn-link.focus, .btn-link:focus {
    text-decoration: none;
    color: black;
}